In [29]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import playergamelog, commonplayerinfo
import pandas as pd
import time
from tqdm import tqdm

In [25]:
def calculate_game_score(row):
    return (row['PTS'] +
            0.4 * row['FGM'] -
            0.7 * row['FGA'] -
            0.4 * (row['FTA'] - row['FTM']) +
            0.7 * row['OREB'] +
            0.3 * row['DREB'] +
            row['STL'] +
            0.7 * row['AST'] +
            0.7 * row['BLK'] -
            0.4 * row['PF'] -
            row['TOV'])

def is_rookie(player_id, rookie_from_year=2024):
    """
    Returns True if the player's first season (FROM_YEAR) equals rookie_from_year.
    """
    try:
        info = commonplayerinfo.CommonPlayerInfo(player_id=player_id).get_data_frames()[0]
        # 'FROM_YEAR' represents the first season the player appeared in the league.
        # Sometimes this field may be in string format; convert to int for comparison.
        from_year = int(info.loc[0, 'FROM_YEAR'])
        return from_year == rookie_from_year
    except Exception as e:
        print(f"Error checking rookie status for player {player_id}: {e}")
        return False

In [31]:
# Retrieve all players
all_players = players.get_players()

# Filter for rookies in the 2024-25 season
# Note: Ensure the player list is updated; manual verification might be necessary
active_players = [player for player in all_players if player['is_active']]

rookies = []
for player in tqdm(active_players):
    # Add a delay to avoid hitting API rate limits
    time.sleep(1)
    if is_rookie(player['id'], rookie_from_year=2024):
        rookies.append(player)

print(f"Found {len(rookies)} rookies.")

  1%|          | 5/615 [00:06<12:32,  1.23s/it]

Error checking rookie status for player 1631231: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

  3%|▎         | 16/615 [00:20<13:36,  1.36s/it]

Error checking rookie status for player 1631317: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

  3%|▎         | 17/615 [00:21<13:26,  1.35s/it]

Error checking rookie status for player 1642378: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

  3%|▎         | 20/615 [00:25<13:04,  1.32s/it]

Error checking rookie status for player 1630654: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

  7%|▋         | 42/615 [00:55<16:36,  1.74s/it]

Error checking rookie status for player 1641777: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 20%|█▉        | 120/615 [02:36<10:27,  1.27s/it]

Error checking rookie status for player 1641915: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 25%|██▌       | 155/615 [03:21<09:46,  1.28s/it]

Error checking rookie status for player 1642407: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 26%|██▌       | 158/615 [03:25<10:23,  1.36s/it]

Error checking rookie status for player 1642401: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 27%|██▋       | 163/615 [03:32<10:33,  1.40s/it]

Error checking rookie status for player 1642499: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 37%|███▋      | 225/615 [04:53<08:54,  1.37s/it]

Error checking rookie status for player 1642396: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 49%|████▉     | 301/615 [06:31<06:56,  1.32s/it]

Error checking rookie status for player 1642046: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 57%|█████▋    | 351/615 [07:39<05:59,  1.36s/it]

Error checking rookie status for player 1631322: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 60%|██████    | 372/615 [08:59<10:17,  2.54s/it]

Error checking rookie status for player 1641758: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 74%|███████▍  | 458/615 [10:53<03:40,  1.40s/it]

Error checking rookie status for player 1642019: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 77%|███████▋  | 471/615 [11:11<03:17,  1.37s/it]

Error checking rookie status for player 1642504: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 80%|███████▉  | 489/615 [11:34<02:41,  1.28s/it]

Error checking rookie status for player 1642481: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 84%|████████▍ | 517/615 [12:12<02:12,  1.36s/it]

Error checking rookie status for player 1641907: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 84%|████████▍ | 518/615 [12:14<02:19,  1.44s/it]

Error checking rookie status for player 1630569: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 89%|████████▉ | 548/615 [12:54<01:27,  1.30s/it]

Error checking rookie status for player 1630733: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

 99%|█████████▊| 606/615 [14:12<00:12,  1.37s/it]

Error checking rookie status for player 1642473: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

100%|██████████| 615/615 [14:25<00:00,  1.41s/it]

Found 91 rookies.

In [45]:
from nba_api.stats.endpoints import leaguedashplayerstats

player_stats = leaguedashplayerstats.LeagueDashPlayerStats(season='2024-25',
                                                           season_type_all_star='Regular Season',
                                                           player_experience_nullable='Rookie'
                                                           ).get_data_frames()[0]

In [46]:
player_stats

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK
0,1642358,AJ Johnson,AJ,1610612764,WAS,20.0,19,6,13,0.316,...,60,58,48,42,42,9,42,26,1,42
1,1641737,Adem Bona,Adem,1610612755,PHI,21.0,49,11,38,0.224,...,8,65,83,16,30,66,26,11,1,28
2,1642349,Ajay Mitchell,Ajay,1610612760,OKC,22.0,34,29,5,0.853,...,41,67,70,22,28,2,30,11,1,31
3,1642505,Alex Ducas,Alex,1610612760,OKC,24.0,19,18,1,0.947,...,72,29,35,88,58,64,58,26,1,57
4,1642024,Alex Reese,Alex,1610612755,PHI,25.0,11,3,8,0.273,...,28,29,48,55,51,6,52,26,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,1641879,Yuri Collins,Yuri,1610612744,GSW,24.0,2,2,0,1.000,...,72,1,29,75,88,42,80,26,1,81
95,1642274,Yves Missi,Yves,1610612740,NOP,20.0,67,18,49,0.269,...,2,99,90,2,7,97,2,1,1,4
96,1642258,Zaccharie Risacher,Zaccharie,1610612737,ATL,19.0,65,33,32,0.508,...,11,96,86,10,2,83,8,11,1,5
97,1641744,Zach Edey,Zach,1610612763,MEM,22.0,57,32,25,0.561,...,4,92,96,8,11,3,7,3,1,9
98,1642389,Zyon Pullin,Zyon,1610612763,MEM,24.0,3,1,2,0.333,...,72,1,1,88,92,29,97,26,1,97

In [56]:
rookie_game_scores = []

for i in tqdm(range(len(player_stats))):
    rookie = player_stats.iloc[i]
    player_id = rookie['PLAYER_ID']
    player_name = rookie['PLAYER_NAME']
    
    # Retrieve game logs
    gamelog = playergamelog.PlayerGameLog(player_id=player_id, season='2024-25', season_type_all_star='Regular Season')
    games_df = gamelog.get_data_frames()[0]
    
    # Introduce a delay to prevent hitting API rate limits
    time.sleep(1)
    
    if games_df.empty:
        continue
    
    # Calculate Game Score for each game
    games_df['GAME_SCORE'] = games_df.apply(calculate_game_score, axis=1)
    
    for _, row in games_df.iterrows():
        rookie_game_scores.append({
            'Player': player_name,
            'Game_Score': row['GAME_SCORE'],
            'Game_Date': row['GAME_DATE']
        })

# Convert to DataFrame
rookie_game_scores_df = pd.DataFrame(rookie_game_scores)

100%|██████████| 99/99 [02:06<00:00,  1.28s/it]

In [57]:
rookie_game_scores_df

           Player  Game_Score     Game_Date
0      AJ Johnson         5.8  MAR 26, 2025
1      AJ Johnson        15.8  MAR 24, 2025
2      AJ Johnson         5.9  MAR 22, 2025
3      AJ Johnson        11.8  MAR 21, 2025
4      AJ Johnson        11.3  MAR 19, 2025
...           ...         ...           ...
2741    Zach Edey        12.7  OCT 25, 2024
2742    Zach Edey         1.1  OCT 23, 2024
2743  Zyon Pullin        -0.7  FEB 12, 2025
2744  Zyon Pullin         0.0  FEB 08, 2025
2745  Zyon Pullin         0.0  FEB 03, 2025

[2746 rows x 3 columns]

In [58]:
# Calculate overall average Game Score and games played for each rookie
average_game_scores = rookie_game_scores_df.groupby('Player').agg(
    Avg_Game_Score=('Game_Score', 'mean'),
    Games_Played=('Game_Score', 'count')
).reset_index()

# Filter for rookies with at least 25 games played
qualified_rookies = average_game_scores[average_game_scores['Games_Played'] >= 25]

# Get top 10 rookies by overall average Game Score
# top_10_rookies = qualified_rookies.nlargest(10, 'Avg_Game_Score')

# For each of the top 10 rookies, find their best single-game performance
top_performances = []
for player in qualified_rookies['Player']:
    player_games = rookie_game_scores_df[rookie_game_scores_df['Player'] == player]
    top_game = player_games.nlargest(1, 'Game_Score')
    top_performances.append({
        'Player': player,
        'Top_Game_Score': top_game['Game_Score'].values[0],
        'Top_Game_Date': top_game['Game_Date'].values[0]
    })

top_performances_df = pd.DataFrame(top_performances)

# Calculate the average of the top 10 Game Scores for each rookie
def average_top10(group):
    top10_games = group.sort_values(by='Game_Score', ascending=False).head(10)
    return top10_games['Game_Score'].mean()

top10_avg = rookie_game_scores_df.groupby('Player').apply(average_top10).reset_index(name='Top10_Avg_Game_Score')

# Merge the average overall scores, top single-game performance, and top10 averages
results = qualified_rookies.merge(top_performances_df, on='Player', how='left')
final_results = results.merge(top10_avg, on='Player', how='left')

# Display the final results
final_results_sorted = final_results.sort_values(by='Top10_Avg_Game_Score', ascending=False)

final_results_sorted

,Player,Avg_Game_Score,Games_Played,Top_Game_Score,Top_Game_Date,Top10_Avg_Game_Score
37,Stephon Castle,9.620000,70,24.3,"FEB 07, 2025",19.68
43,Zaccharie Risacher,8.118462,65,31.8,"NOV 06, 2024",19.65
2,Alex Sarr,9.721053,57,24.2,"MAR 15, 2025",19.51
44,Zach Edey,9.317544,57,26.9,"NOV 04, 2024",19.37
42,Yves Missi,9.588060,67,22.9,"DEC 22, 2024",19.15
7,Dalton Knecht,6.598551,69,31.9,"NOV 19, 2024",18.79
25,Kel'el Ware,8.742593,54,22.5,"JAN 02, 2025",17.96
17,Jaylen Wells,7.411111,72,26.9,"JAN 03, 2025",17.45
10,Donovan Clingan,7.265517,58,22.5,"NOV 13, 2024",17.27
26,Kyle Filipowski,7.417460,63,21.6,"MAR 09, 2025",17.16
5,Bub Carrington,6.908333,72,22.2,"FEB 08, 2025",16.63
12,Isaiah Collier,6.536923,65,20.5,"FEB 05, 2025",15.97
21,Justin Edwards,7.546154,39,21.4,"MAR 26, 2025",15.85
28,Matas Buzelis,5.470000,70,21.9,"MAR 22, 2025",15.46
40,Tristan da Silva,5.539706,68,23.9,"JAN 03, 2025",15.31
27,Kyshawn George,6.298437,64,19.8,"JAN 16, 2025",15.18
23,Karlo Matković,6.311429,35,18.1,"MAR 24, 2025",13.59
14,Jamal Shead,4.967164,67,15.8,"DEC 22, 2024",13.28
31,Quinten Post,6.652941,34,17.6,"FEB 27, 2025",12.87
36,Ryan Dunn,4.766154,65,16.5,"JAN 16, 2025",12.56
35,Ronald Holland II,4.610959,73,23.3,"MAR 23, 2025",12.46
13,Ja'Kobe Walter,5.278261,46,17.7,"DEC 22, 2024",12.13
20,Jonathan Mogbo,5.450000,54,17.1,"MAR 26, 2025",12.09
0,Adem Bona,4.226531,49,17.4,"MAR 09, 2025",12.01
1,Ajay Mitchell,5.138235,34,18.2,"DEC 23, 2024",11.98
15,Jamison Battle,4.460000,50,24.0,"NOV 27, 2024",10.55
39,Tidjane Salaün,4.010000,50,15.6,"NOV 27, 2024",10.53
29,Oso Ighodaro,3.940385,52,13.7,"NOV 18, 2024",10.04
3,Antonio Reeves,3.422857,35,25.7,"NOV 20, 2024",10.02
16,Jaylen Clark,4.377419,31,15.4,"FEB 23, 2025",9.89
22,KJ Simpson,4.784615,26,12.5,"MAR 21, 2025",9.56
34,Rob Dillingham,3.334091,44,16.3,"JAN 30, 2025",9.52
38,Terrence Shannon Jr.,3.351613,31,17.2,"FEB 27, 2025",9.32
24,Keaton Wallace,4.250000,28,26.6,"JAN 15, 2025",9.04
18,Jaylon Tyson,2.480952,42,20.0,"NOV 20, 2024",8.78
33,Reed Sheppard,2.631111,45,20.5,"MAR 03, 2025",8.72
6,Cody Williams,2.435417,48,11.9,"NOV 04, 2024",8.56
30,Pelle Larsson,2.712500,48,12.6,"NOV 04, 2024",8.51
8,Devin Carter,3.507143,28,15.9,"MAR 19, 2025",8.18
9,Dillon Jones,1.947727,44,12.5,"NOV 17, 2024",7.20
11,Isaac Jones,2.930303,33,13.0,"MAR 10, 2025",7.19
41,Tyler Kolek,1.711111,36,9.7,"MAR 22, 2025",5.08
19,Johnny Furphy,1.388095,42,8.7,"DEC 04, 2024",5.02
32,Reece Beekman,1.563333,30,6.9,"JAN 15, 2025",4.42
4,Ariel Hukporti,1.528000,25,8.4,"DEC 07, 2024",4.26

In [61]:
final_results_sorted.to_excel('rookies_gamescore.xlsx')

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK
0,1642358,AJ Johnson,AJ,1610612764,WAS,20.0,19,6,13,0.316,...,60,58,48,42,42,9,42,26,1,42
1,1641737,Adem Bona,Adem,1610612755,PHI,21.0,49,11,38,0.224,...,8,65,83,16,30,66,26,11,1,28
2,1642349,Ajay Mitchell,Ajay,1610612760,OKC,22.0,34,29,5,0.853,...,41,67,70,22,28,2,30,11,1,31
3,1642505,Alex Ducas,Alex,1610612760,OKC,24.0,19,18,1,0.947,...,72,29,35,88,58,64,58,26,1,57
4,1642024,Alex Reese,Alex,1610612755,PHI,25.0,11,3,8,0.273,...,28,29,48,55,51,6,52,26,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,1641879,Yuri Collins,Yuri,1610612744,GSW,24.0,2,2,0,1.000,...,72,1,29,75,88,42,80,26,1,81
95,1642274,Yves Missi,Yves,1610612740,NOP,20.0,67,18,49,0.269,...,2,99,90,2,7,97,2,1,1,4
96,1642258,Zaccharie Risacher,Zaccharie,1610612737,ATL,19.0,65,33,32,0.508,...,11,96,86,10,2,83,8,11,1,5
97,1641744,Zach Edey,Zach,1610612763,MEM,22.0,57,32,25,0.561,...,4,92,96,8,11,3,7,3,1,9
98,1642389,Zyon Pullin,Zyon,1610612763,MEM,24.0,3,1,2,0.333,...,72,1,1,88,92,29,97,26,1,97